h1 {
    color:blue
}

li {
    color:blueviolet;
    background-color:cornsilk;
   
}
h2 {
    color:darkmagenta;
    background-color: darkturquoise;
}

.blue {
    color:blueviolet;
}

.bold {
   font-weight: bold;
}
.footer {
    
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: burlywood;
    color:orangered;
}
p {
    padding-left: 500px;
    padding-right: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: deepskyblue;
}
a {
    color:mediumblue;
}
#places {
    margin-right: 100px;
}